@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");
@import "reset";

// Colors
$clr-primary-cyan: hsl(158, 36%, 37%);
$clr-primary-cyan-overlay: hsl(158, 16%, 37%);
$clr-primary-cream: hsl(30, 38%, 92%);
$clr-vry_drk-bl: hsl(212, 21%, 14%);
$clr-drk_gry-bl: hsl(228, 12%, 48%);
$clr-white: hsl(0, 0%, 100%);

// Fonts
$montserrat: "Montserrat", sans-serif;
$montserrat-500: 500;
$montserrat-700: 700;
$fraunces: "Fraunces", serif;
$fraunces-700: 700;

// Reset

// Styles

body {
  height: 100vh;
  background-color: $clr-primary-cream;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

main {
  max-width: 90vw;
  background-color: $clr-white;
  margin: 2rem 1rem;
  border-radius: 10px;
}

main {
  .picture-mobile img {
    margin-bottom: 20px;
    border-radius: 10px 10px 0px 0px;
  }

  .picture-desktop {
    display: none;
  }

  article {
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }

  article {
    .perfume {
      color: $clr-drk-gry-bl;
      letter-spacing: 4px;
      font-size: 12px;
      margin-bottom: 10px;
    }

    h1 {
      font-family: $fraunces;
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 20px;
    }

    p {
      display: block;
      text-align: left;
      color: $clr-drk-gry-bl;
      line-height: 1.6;
      font-family: $montserrat;
      font-weight: $montserrat-500;
      font-size: 14px;
      padding-right: 10px;
      margin-bottom: 15px;
    }

    .pricing {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1rem;
      margin-bottom: 10px;

      h2 {
        font-size: 2rem;
        font-family: $fraunces;
        font-weight: $fraunces-700;
        color: $clr-primary-cyan;
      }

      p {
        text-decoration: line-through;
        margin: 0;
      }
    }

    .btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      padding: 12px;
      background-color: $clr-primary-cyan;
      color: $clr-white;
      border: none;
      outline: none;
      border-radius: 6px;
      margin-bottom: 20px;
    }

    button:hover {
      cursor: pointer;
      background-color: $clr-primary-cyan-overlay;
    }
  }
}

@media (min-width: 378px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 600px;

    .picture-mobile {
      display: none;
    }

    .picture-desktop {
      display: block;
      width: 300px;
      height: 100%;
    }

    .picture-desktop img {
      border-radius: 10px 0px 0px 10px;
    }

    h1 {
      padding-right: 15px;
    }

    article {
      width: 300px;
    }
  }
}
